body,h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,dl,dd,ol,ul,figure {
  margin: 0;
  padding: 0
}
body {
  font: 400 16px/1.8 "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  color: #333 !important;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  line-height: 1.8 !important;
}
h1,h2,h3,h4,h5,h6,p,blockquote,pre,ul,ol,dl,figure,.highlight {
  margin-bottom: 15px
}
h1,h2,h3 {
  font-weight: 500 !important;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
main {
  display: block
}
img {
  max-width: 100%;
  vertical-align: middle
}
ul,ol {
  margin-left: 30px
}
ul {
  padding-left: 1.2em !important;
}
a {
  color: #2a7ae2;
  text-decoration: none
}
a:visited {
  color: #1756a9
}
a:hover {
  color: #111;
  text-decoration: underline
}
code {
  background-color: #f5f5f5 !important;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-size: 0.95em;
  border: 1px solid #e8e8e8;
}
hr {
  border: none;
  border-top: 1px solid #e0e0e0;
  margin: 2em 0;
}
.wrapper {
  max-width: calc(100% - 60px) !important;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px
}
@media screen and (max-width: 800px) {
  .wrapper {
    max-width: calc(100% - 30px) !important;
    padding-right: 15px;
    padding-left: 15px
  }
}
.wrapper:after {
  content: "";
  display: table;
  clear: both
}
.site-header {
  border-top: 5px solid #424242;
  border-bottom: 1px solid #e8e8e8;
  min-height: 55.95px;
  position: relative
}
.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 54px;
  float: left;
  color: #424242
}
.site-nav {
  float: right;
  line-height: 54px
}
.page-content {
  padding: 30px 0;
  flex: 1
}
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0
}
.rule-note {
  color: #999999;
  font-style: italic;
  text-align: center;
  margin-top: 2em;
}
.trigger {
  display: none !important;
}
img.emoji {
  width: 5%;
  height: auto;
  vertical-align: -0.25em;
}
img.logo {
  width: 20%;
  height: auto;
  vertical-align: -0.25em;
}
input {
  width: 100% !important;
  padding: 0.6em;
  font-size: 1.2em;
  background: #FFF;
  color: #333; 
  border: 1px solid #555;
  border-radius: 4px;
  box-sizing: border-box;
}
.output {
  margin-top: 2em;
  font-size: 1.6em;
}
.right-align-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
.right-align-content .author {
  display: block;
  text-align: right;
  width: fit-content;
  min-width: 50px;
  max-width: 300px;
}